:root {
	--color-dark: #343545;
	--color-dark-light: #424351;
	--color-dark-lighter: #44465d;
	--color-dark-lightest: #52546b;

	--color-light: #ffffff;
	--color-light-light: #ececec;
	--color-light-lighter: #e0eefb;
	--color-light-lightest: #f1f8ff;

	--color-green: #1fb86e;
	--color-red: #e83a3a;
	--color-yellow: #eef22f;
}

$color-dark: #343545;
$color-dark-light: #424351;
$color-dark-lighter: #44465d;
$color-dark-lightest: #52546b;

$color-light: #ffffff;
$color-light-light: #ececec;
$color-light-lighter: #e0eefb;
$color-light-lightest: #f1f8ff;

$color-green: #1fb86e;
$color-red: #e83a3a;
