.popover {
	min-width: 32rem;
	background-color: var(--color-primary);
}

.topnav-popovercontent {
	padding: 0.5rem;
	& *,
	& *::placeholder {
		color: var(--color-inverse);
		background-color: var(--color-primary);
	}

	&__heading {
		font-size: 1.8rem;
		font-weight: 700;
	}
	&__subheading {
		font-size: 1.4rem;
		font-weight: 400;
	}
	&__create {
		width: 100%;
		display: flex;
		&-input {
			flex: 1;
			font-size: 1.4rem;
			font-weight: 400;
			margin-right: 1rem;
			padding: 0.5rem;
			border: 1px solid var(--color-inverse);
		}
		&-button {
			padding: 0.9rem;
			border-radius: 1rem;
			outline: none;
			border: none;
			i {
				font-size: 1.8rem;
				color: var(--color-light);
			}
		}
	}
	&__add {
		font-size: 1rem;
		font-weight: 400;
		cursor: pointer;
	}

	&__container-project {
		display: flex;
		flex-direction: column;
		& > * {
			margin: 0.5rem 0;
		}
		.form-control {
			font-size: 1.4rem;
		}
		.form-control:disabled {
			background-color: initial;
		}
	}
	h3 {
	}
	&__container-duration {
		display: flex;
		align-items: center;
		& > *:first-child {
			margin-right: auto;
		}
		i {
			font-size: 2rem;
			margin: 0 1rem;
		}
		h6 {
			font-size: 1.4rem;
			padding: 0.5rem;
			border: 1px solid var(--color-inverse-lightest);
			border-radius: 1rem;
		}
	}
}
